<link rel="stylesheet" href="../css/signup.css">
<div class="container-signupPage">
    <div class="signup-container">
        <h2>SignUp</h2>
     <div class="signup-form">
<form action="" method="post">
    Name: <input type="text" name="username" value=""> <br />
    Email: <input type="text" name="email" value=""> <br />
    Password: <input type="password" name="password" value=""> <br />
    <input type="submit" value="SignUp" > <br />
</form>
   </div>
 </div>
</div>



<!-- <div class="SignUp-container">
    <div class="form-container">
        <h2>SignUp </h2>
        <form action="/signup" method="post">
          <div class="form-group">
            
            <input type="text" id="name" name="username" placeholder="Email Address" required autocomplete="off">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" placeholder="Password" required >
          </div>
          <button type="submit" class="submit-btn">Login</button>
        </form>
        <p>Don't have account ?<a href="/login" >SignUp</a></p>
        
      </div>

</div> -->
<!-- <div class="mainContainer">
  <div class="formContainer">
      <form class="registrationForm" action="/user/signup" method="post">
          <ul class="formList">
              <h1 class="formTitle">Sign Up!</h1>
              <li class="formField">
                  <label for="name" class="fieldLabel">Name</label>
                  <input type="text" id="name" required name="name" placeholder="Name" class="inputName form-control">
              </li>
              <li class="formField">
                  <label for="email" class="fieldLabel">Email</label>
                  <input type="email" id="email" required name="email" placeholder="Email address" class="inputEmail form-control">
              </li>
              <li class="formField">
                  <label for="password" class="fieldLabel">Password</label>
                  <input type="password" id="password" class="inputPassword form-control" required name="password" placeholder="Password">
              </li>
              <li class="formField">
                  <button class="submitButton btn btn-primary" type="submit">Create Account</button>
              </li>
          </ul>
      </form>
  </div>

  <div class="infoSection">
      <div class="logoContainer">
          <img class="logoImage" src="assets/whiteAll.png" alt="">
      </div>
      <h1 class="registerTitle">Register Now</h1>
      <p class="infoText">Register yourself to create, visit or promote stores</p>
  </div>
</div> -->

