<link rel="stylesheet" href="../css/login.css">
<div class="container-loginPage">
  <div class="login-container">
      <h2>Login</h2>
      <div class="login-form">
<form action="" method="post">    
    Email: <input type="text" name="email" value=""> <br />
    Password: <input type="password" name="password" value=""> <br />
    <input type="submit" value="Login"> <br />
</form>
  
</div>
</div>
</div>