<form action="" method="post">
    Name: <input type="text" value="" name="name"/> <br/>
    Description: <input type="text"  name="Description" value=""/> <br/>
    price: <input type="text"  name="price" value=""/> <br/>
    imagePath: <input type="text"  name="imagepPath" value=""/> <br/>
    quantity: <input type="text"  name="quantity" value=""/> <br/>
    
    <input type="submit" value="Add New" /> <br/>
</form>